body {
  font-family: Arial;
  text-align: center;
  background: #f0f8ff;
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
}

#homeBtn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.screen {
  display: none;
}

.active {
  display: block;
}
